<div class="col-md-offset-2 col-md-8">
  <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-warning" role="alert"><%= flash[:error] %></div>
  <% end %>
</div>
